.navbar-inverse {
    background-color: #3F51B5
}
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: #303F9F
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #303F9F
}
.dropdown-menu {
    background-color: #3F51B5
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #303F9F
}
.navbar-inverse {
    background-image: none;
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-image: none;
}
.navbar-inverse {
    border-color: #3F51B5
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-weight: bold;
}
.navbar-inverse .navbar-brand:hover {
    color: #EEEEEE
}
.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF
}
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    color: #EEEEEE
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #FFFFFF
}
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
    color: #EEEEEE
}
.dropdown-menu>li>a {
    color: #FFFFFF
}
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    color: #EEEEEE
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-top-color: #FFFFFF
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-top-color: #EEEEEE
}
.navbar-inverse .navbar-nav>.dropdown>a .caret {
    border-bottom-color: #FFFFFF
}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
    border-bottom-color: #EEEEEE
}
